
@{
    ViewData["Title"] = "Index";
}


<!-- Start content -->
<div class="content">
    <div class="container-fluid">
        <div class="page-title-box">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <h4 class="page-title">Departments</h4>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Home</a></li>
                        <li class="breadcrumb-item"><a href="javascript:void(0);">Departments</a></li>
                        <li class="breadcrumb-item active">Data Table</li>
                    </ol>
                </div>
                <div class="col-sm-6">
                    <div class="float-right d-none d-md-block">
                        <div class="dropdown">
                            <button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#myModal">
                                <i class="mdi mdi-settings mr-2"></i>
                                Create
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->
        <!-- /.modal Opened -->
        <div class="col-sm-6 col-md-3 m-t-30">
            <div class="text-center">
            </div><!-- sample modal content -->
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog"
                 aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title mt-0" id="myModalLabel">
                                Modal Heading
                            </h5><button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                                ×
                            </button>
                        </div>
                        <div class="modal-body">
                            <h5>Overflowing text to show scroll behavior</h5>
                            <div class="m-t-20">
                                <label>All the options</label>
                                <p class="text-muted m-b-15">
                                    Please note: if the <code>alwaysShow</code> option
                                    is enabled, the <code>threshold</code> option is ignored.
                                </p>
                                <input type="text" class="form-control" maxlength="25" name="alloptions" id="alloptions">
                            </div>
                            <div class="m-t-20">
                                <label>Department Name</label>
                                <input type="text" class="form-control" maxlength="25" name="placement" id="placement">
                            </div>
                            <div class="m-t-20">
                                <label>Description</label>
                                <textarea id="textarea" class="form-control" maxlength="225" rows="3" placeholder="This textarea has a limit of 225 chars."></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">
                                Close
                            </button>
                            <button type="button" class="btn btn-primary waves-effect waves-light">
                                Save changes
                            </button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div>
        </div>
        <!-- /.modal closed -->



        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        @*<h4 class="mt-0 header-title">Default Datatable</h4>
                            <p class="text-muted m-b-30">
                                DataTables has most features enabled by default, so all
                                you need to do to use it with your own tables is to call the construction
                                function: <code>$().DataTable();</code>.
                            </p>*@
                        <table id="datatable" class="table table-bordered dt-responsive nowrap"
                               style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Position</th>
                                    <th>Office</th>
                                    <th>Age</th>
                                    <th>Start date</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td>Jennifer Chang</td>
                                    <td>Regional Director</td>
                                    <td>Singapore</td>
                                    <td>28</td>
                                    <td>2010/11/14</td>
                                    <td>
                                        <button class="btn btn-outline-primary">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </button>
                                        <button class="btn btn-outline-success">
                                            <i class="mdi mdi-pencil-outline"></i>
                                        </button>
                                        <button class="btn btn-outline-danger">
                                            <i class="mdi mdi-delete-sweep-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Brenden Wagner</td>
                                    <td>Software Engineer</td>
                                    <td>San Francisco</td>
                                    <td>28</td>
                                    <td>2011/06/07</td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </button>
                                        <button class="btn btn-success">
                                            <i class="mdi mdi-pencil-outline"></i>
                                        </button>
                                        <button class="btn btn-danger">
                                            <i class="mdi mdi-delete-sweep-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Fiona Green</td>
                                    <td>Chief Operating Officer (COO)</td>
                                    <td>San Francisco</td>
                                    <td>48</td>
                                    <td>2010/03/11</td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </button>
                                        <button class="btn btn-success">
                                            <i class="mdi mdi-pencil-outline"></i>
                                        </button>
                                        <button class="btn btn-danger">
                                            <i class="mdi mdi-delete-sweep-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Shou Itou</td>
                                    <td>Regional Marketing</td>
                                    <td>Tokyo</td>
                                    <td>20</td>
                                    <td>2011/08/14</td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </button>
                                        <button class="btn btn-success">
                                            <i class="mdi mdi-pencil-outline"></i>
                                        </button>
                                        <button class="btn btn-danger">
                                            <i class="mdi mdi-delete-sweep-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Michelle House</td>
                                    <td>Integration Specialist</td>
                                    <td>Sidney</td>
                                    <td>37</td>
                                    <td>2011/06/02</td>
                                    <td>
                                        <button class="btn btn-primary">
                                            <i class="mdi mdi-account-card-details"></i>
                                        </button>
                                        <button class="btn btn-success">
                                            <i class="mdi mdi-pencil-outline"></i>
                                        </button>
                                        <button class="btn btn-danger">
                                            <i class="mdi mdi-delete-sweep-outline"></i>
                                        </button>
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table>
                    </div>
                </div>
            </div><!-- end col -->
        </div><!-- end row -->
        <!-- end row -->
    </div><!-- container-fluid -->
</div><!-- content -->
<!-- jQuery  -->
<script src="~/assets/js/jquery.min.js"></script>
<script src="~/assets/js/metisMenu.min.js"></script>
<script src="~/assets/js/jquery.slimscroll.js"></script>
<script src="~/assets/js/waves.min.js"></script>



<script src="~/plugins/chartist/js/chartist.min.js"></script>
<script src="~/plugins/chartist/js/chartist-plugin-tooltip.min.js"></script><!-- peity JS -->
<script src="~/plugins/peity-chart/jquery.peity.min.js"></script>
<script src="~/assets/pages/dashboard.js"></script><!-- App js -->
<script src="~/assets/js/app.js"></script>

<script src="~/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/plugins/datatables/dataTables.bootstrap4.min.js"></script><!-- Buttons examples -->
<script src="~/plugins/datatables/dataTables.buttons.min.js"></script>
<script src="~/plugins/datatables/buttons.bootstrap4.min.js"></script>
<script src="~/plugins/datatables/jszip.min.js"></script>
<script src="~/plugins/datatables/pdfmake.min.js"></script>
<script src="~/plugins/datatables/vfs_fonts.js"></script>
<script src="~/plugins/datatables/buttons.html5.min.js"></script>
<script src="~/plugins/datatables/buttons.print.min.js"></script>
<script src="~/plugins/datatables/buttons.colVis.min.js"></script><!-- Responsive examples -->
<script src="~/plugins/datatables/dataTables.responsive.min.js"></script>
<script src="~/plugins/datatables/responsive.bootstrap4.min.js"></script><!-- Datatable init js -->
<script src="assets/js/app.js"></script>

<script src="~/assets/pages/datatables.init.js"></script>

 @*id="datatable-buttons"*@


